* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F7;
}

/*  containar */
.containar {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: lightgrey;
}

li {
    list-style: none;
}

/*  header  */
.main-header .nav-bar {
    background-color:rgb(0%, 0%, 0%, 67%);

}

.main-header .nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #111;
}

.main-header .nav-bar ul li {
    margin: 0 30px;
}

.main-header .nav-bar ul li a {
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    font-weight: bold;
    transition: .3s;
}

.main-header .nav-bar ul li a:hover {
    color: #fff;

}

/*  logo site  */
.main-header .nav-bar .images img {
    display: flex;
    align-items: center;
}

/*  icon  */
.fa-search {
    color: lightgrey;
    transition: .3s;
}

.fa-search:hover {
    color: #fff;
}

/*  section one  */
.section_one .containar {
    padding-top: 102px;
}

.section_one .containar .row .text {
    color: #111;
    font-size: 27px;
    line-height: 30px;
    line-height: 40px;
    font-weight: bold;
}

.section_one .containar .row strong {
    color: #808080;
}

.section_one .containar .row .image_info img {
    max-width: 40px;
    border-radius: 100px;
    background: #fff;
}

.section_one .containar .row h6 {
    padding-right: 13px;
    color: #111;
}

.section_one .containar .information {
    justify-content: flex-end;
}

/*   section boxes  */
.section_boxes .containar .image {
    margin-top: 51px;
}

.section_boxes .containar .image img {
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.section_boxes .image img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    border-radius: 30px;
}

.section_boxes .main_boxe {
    margin-top: 20px;
    background-color: #FFFBF9;
    border-radius: 30px;
}

.section_boxes .containar .left .image img {
    padding: 44px;
}

/*  part box */

.section_boxes .containar {
    border-radius: 30px;
    
}

.section_boxes .containar .right .title {
    color: coral;
    font-size: 35px;
    font-weight: bolder;
    padding: 30px 30px 0px 0px;
}

.section_boxes .containar .right .text {
    padding: 30px 30px 0 0;
    line-height: 33px;
    text-align: justify;
}

.section_boxes .containar .right a {
    color: #479EFF;
    padding: 30px 30px 0 0;
}

.section_boxes .box .image img {
    width: 100%;
    vertical-align: middle;
    height: auto;
}

.section_boxes .boxes p {
    text-align: center;
}

.section_boxes .boxes .box p a {
    color: #111;
    font-weight: bold;
}

/*  section information */

.section_information .containar .cart_right {
    background-color: rgb(179, 122, 115);
    border-radius: 20px;
}

.section_information .containar .cart_right .image {
    text-align: center;
}

.section_information .containar .cart_right .image img {
    max-width: 241px;
}

.section_information .containar .cart_right p {
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
    padding: 10px 50px;
    text-align: justify;
}

.section_information .containar {
    margin-top: 20px;
}

.section_information .containar .cart_left .image img {
    width: 100%;
    border-radius: 20px;
}

.section_information .containar a {
    background: #e8e8ed;
    color: #000;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 100px;
    font-weight: 600;
    margin: 0 40px;
}

/*  boxes section iphone  */
.section_boxes .containar .box-title-iphone {
    color: #075bc0;
    font-size: 35px;
    font-weight: bolder;
    padding: 30px 30px 0px 0px;
}
.section_boxes .containar .box-text-iphone{
    padding: 30px 30px 0 0;
    line-height: 33px;
    text-align: justify;
}
/*  section information  */
.section_information .containar .cart_right{
    background-color: #5F95BB;
}